<div class="container">
    <h2>Filter List</h2>
    <app-filter-search [listItems]="items"
    (filteredItems)="filteredItems($event)"></app-filter-search>
    <table class="table">
      <thead>
        <tr>
          <th (click)="sortBy('name')" id="name" order="asc">Name</th>
          <th (click)="sortBy('place')" id="place" order="asc">Place</th>
          <th (click)="sortBy('animal')" id="animal" order="asc">Animal</th>
          <th (click)="sortBy('thing')" id="thing" order="asc">Thing</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of _filteredItems">
          <td>{{item.name}}</td>
          <td>{{item.place}}</td>
          <td>{{item.animal}}</td>
          <td>{{item.thing}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  